/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities; */

.temp {
  border: 2px solid rgb(31, 210, 97);
  background-color: blue;
}

.header {
  display: flex;
  /* flex:; */
  justify-content: space-between;
  margin: 1px;
  border: 2px solid black;
}

.nav-list ul {
  list-style: none;
  display: flex;
}
.nav-list li {
  padding: 15px;
  font-size: 25px;
}
.img {
  width: 90px;
  height: 90px;
}

.card {
  border: 3px solid orange;
  box-shadow: 2px 3px orange;
  border-radius: 6px;
  width: 225px;
  margin: 10px;
  padding: 10px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.card h4 {
  /* padding: -2px; */
}
.card img {
  width: 100%;
  height: 175px;
  border-radius: 10%;
  border: 2px solid rgba(237, 108, 2, 255);
}
.card:hover {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}
.restro-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

body {
  margin: 0 auto;
  padding: 0px;
  /* background-color: gainsboro; */
  font-family: "Exo 2", sans-serif;
}

.middle {
  min-height: 600px;
}

.footer {
  margin: 0px;
  padding: 0px;
  height: 300px;
  background-color: black;
  color: white;
  position: relative;
}

.footer-text {
  /* text-align: center; */
  /* display: flex; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 2px solid wheat; */
}

.search-div {
  padding: 10px;
  text-align: center;

  margin-top: 15px;
  /* border: 2px solid gold; */
}
.search-div input {
  padding: 10px;
  width: 15%;
  border-radius: 7px;
  font-size: medium;
  border: 2px solid rgba(237, 108, 2, 255);
}
.search-div button {
  /* padding: 15px; */
  margin-bottom: 2px;
  margin-left: 8px;
  background-color: rgba(237, 108, 2, 255);
}

.shimmer-input {
  margin-top: 10px;
  margin: auto;
  width: 25%;
}
.shimmer {
  margin-top: 10px;
  justify-content: center;
  /* left: 50%; */
}

.details-container {
  text-align: center;
}

.details-container img {
  width: 400px;
  height: 300px;
}

.form-container {
  border: 2px solid black;
  padding: 10px;
  margin: auto;
  width: 25%;
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.field {
  border: 5px solid green;
  color: red;
}

.form-div {
  min-height: 600px;
}

.menus {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  text-align: center;
}
.menu-card {
  border: 3px solid rgba(237, 108, 2, 255);
  width: 95%;
  margin: 10px;
  padding: 10px;
  /* display: flex; */
  /* flex-wrap: wrap;
  justify-content: center; */
}
.menu-card img {
  height: 160px;
  width: 25%;
  float: right;
}

.contact-form {
  border: 2px solid green;
  width: 50%;
  margin: auto;
  text-align: center;
  justify-content: center;
  margin-bottom: 2%;
  margin-top: 2%;
}
.text-field {
  margin: 5px;
  padding: 10px;
}

.accordions-div {
  /* margin: 20px; */
  border: 2px solid firebrick;
}

.accordions {
  text-align: center;
  justify-content: center;
  margin: auto;
  width: 50%;
}

.blink-green {
  height: 20px;
  width: 20px;
  background-color: green;
  border-radius: 50%;
  /* position: ; */
  animation: blink 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.blink-red {
  height: 20px;
  width: 20px;
  background-color: red;
  border-radius: 50%;
  /* position: ; */
  animation: blink 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.block1 {
  /* float: left;
   */

  display: flex;
  /* text-align: center; */
}

.block2 {
  display: flex;
  text-align: center;
  /* border: 1px solid hotpink; */
  /* width: 25%; */
  /* display: inline-block; */
}

.restro-details {
  /* margin-top: 10px; */
  border: 4px solid rgba(237, 108, 2, 255);
  border-radius: 5px;
  box-shadow: 2px 3px rgba(237, 108, 2, 255);
  /* justify-content: center; */
  display: flex;
  /* flex:; */
  justify-content: space-between;
  /* width: 100%; */
  margin: 10px auto;
  padding: 3px;
  /* text-align: center; */
  width: 50%;
}

.block-cards {
  border: 1px solid gray;
}

.type-effect {
  color: rgba(237, 108, 2, 255);
}

.icons {
  border: 2px solid wheat;
}

.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
ul {
  list-style: none;
}
.footer {
  margin: 0px;
  padding: 0px;
  height: 300px;
  background-color: black;
  color: white;
  position: relative;
}

.cart-div {
  min-height: 600px;
}

.about-div {
  min-height: 600px;
}
